
<h2>Group</h2>
    <form class="mb-5">
        <div class="form-group">
          <label for="exampleInputEmail1">Group Name</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-secondary mt-2">Create</button>
        <button type="submit" class="btn btn-secondary mt-2">Remove</button>
    </form>
    <h2>Channel</h2>
    <form class="mb-5">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Group</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Channel Name</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="submit" class="btn btn-primary">Remove</button>
    </form>
    
    <h2>User To Channel</h2>
    <form class="mb-5">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Channel</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-primary">Invite</button>
        <button type="submit" class="btn btn-primary">Remove</button>
    </form>
    
    <h2>Promote User</h2>
    <form class="mb-5">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-primary">Super Admin</button>
        <button type="submit" class="btn btn-primary">Group Admin</button>
        <button type="submit" class="btn btn-primary">Group Assis</button>
    </form>
